<div class="trick-name">
  <p>
    <h2><strong>Trick Name: </strong><%= @trick.name %></h2>
  </p>
</div>

<% if signed_in? %>
<% end %>

<div class="trick-description">
  <div class="description-toggle btn btn-primary"><strong>Description</strong></div><<%= @trick.description %>
  <p class="description-body" style="display: none;">
    <%= @trick.description %>
  </p>
</div>

<div class="trick-purpose">
  <p>
    <h3><strong>Type: </strong><%= @trick.purpose %></h3>
  </p>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://youtube.com/embed/<%= YouTubeAddy.extract_video_id(@trick.youtube_url) %>"</iframe>
</div>
