<div id="homepage-title">
  <h1>Welcome to MagicDB</h1>
</div>

<div id="homepage-description">
  The most comprehensive magic trick database in the world. For magicians, by magicians.
</div>

<% if signed_in? %>
  <p>
    <div id="add-trick-button">
      <%= button_to "Add Trick", new_trick_path, method: :get %>
    </div>
  </p>
<% end %>

<div id="recent-tricks">
  <h3>Recently Added Tricks</h3>
  <ul>
    <% @tricks.each do |trick| %>
      <li><%= link_to trick.name, trick %> submitted by: <%= trick.author %> <%= time_ago_in_words(trick.created_at) %> ago</li>
    <% end %>
  </ul>
</div>

<div id="recent-posts">
  <h3>Magic News</h3>
  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.name, post %> submitted by: <%= post.author %> <%= time_ago_in_words(post.created_at) %> ago</li>
    <% end %>
  </ul>
</div>
