<div class="post-title">
  <p>
    <h2><strong><%= @post.title %></strong></h2> by: <%= @post.author %>
  </p>
</div>

<div class="post-body">
  <p>
    <%= @post.body %>
  </p>
</div>

<%= button_to "Home", root_path, method: :get %>

<% if current_user.admin? %>
  <%= button_to "Edit", edit_post_path(@post), method: :get %>
  <%= button_to "Delete", post_path(@post), method: :delete %>
<% end %>
