<!DOCTYPE html>
<html>
<head>
  <title>MagicDb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navigation">
  <div class="container">
    <ul>
      <li><%= render "partials/signin" %>
      <li></li>
      <li></li>
  </div>
</div>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>
  </div>

<%= yield %>

</body>
</html>
